*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #F5DAD2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: #F0EDCF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #FCF5ED;
}
.calculator form input{
    border: 0px;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    margin: 5px;
}
form .display{
display: flex;
justify-content: flex-end;
margin: 10px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 35px;
    box-shadow: none;
}
.calculator form input:hover{
 background-color: black;
 color: white;
transition: all .5s ease-out;
}
.operators{
    color: #007F73;
}
#equal{
    width: 140px;
}
@media only screen and (min-width: 600px) {
    body{
        width: 100vw;
        height: 100vh;

    }
    .container{
        width: 100%;
        height: 100%;
    }
}
@media only screen and (min-width: 768px) {
    body{
        width: 100vw;
        height: 100vh;

    }
    .container{
        width: 100%;
        height: 100%;
    }
}